<div class="container-fluid" id="bg-hp" ng-hide="showForm = !showForm">
  <h1>Weather App</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form ng-submit="$ctrl.getWeather(city)" ng-show="showForm">
        <div class="form-group">
          <!--<label for="city">Ville</label>-->
          <input type="text" class="form-control" id="city" placeholder="quelle temps fait-il à ..." ng-model="city">
          <a class="btn btn-search" ng-click="$ctrl.getWeather(city) === false">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div ng-if="$ctrl.data">
      <img ng-src="{{$ctrl.data.icon}}" />
      <div>{{$ctrl.data.name}}</div>
      <div>{{$ctrl.data.weather[0].description}}</div>
      <div>{{$ctrl.data.main.temp | number:0}} °C</div>
      <div>{{$ctrl.data.coord.lon}}</div>
      <div>{{$ctrl.data.coord.lat}}</div>
    </div>
  </div>
</div>